body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    height: 100vh;
}
textarea{
    font-family: inherit;
    font-size: inherit;
    /* font-size: 1.1rem; */
}
button{
    font-size: inherit;


}
img{
    width: 400px;
    /* margin: 40px 0px 40px 0px; */
}
p{
    color: white;
    width: 400px;
    margin: 0px 0px 10px 410px;
    font-size: inherit;


}
div{
    color: rgb(138, 138, 138);
}