body{
	background-color:#343A40;
	font-size:15px;


	font-family:sans-serif;
	color: blanchedalmond;
	display: flex;
	justify-content: center;
	
}
main{
	display: flex;
	flex-direction: column;
}
.box{
	min-width: 480px;
	max-width: 500px;
}
.greenbox{
	border: 4px solid ;
	border-color: #0F9D58;
	background-color: #23523d;
    border-radius: 20px;

}
.qc-list{
	margin:20px;

}
.qc{
	margin: 20px;
	font-size: 34px;
	text-align: center;
}

.greenhr{
	border-color:#0F9D58;
	margin-bottom:30px;
 }
.reset{
	height: 50px;
    width:100px;
    font-size: 22px;
	margin-top: 20px;


    color:white;
    background-color: #0F9D58;
    border-radius: 15px;
    border: 2px solid rgb(187, 206, 247);
    display: inline;
    transition: all 0.2s ease-out;
}
.chkBtn{
	height: 50px;
    width:150px;
    font-size: 22px;
	margin-top: 30px;


    color:white;
    background-color: #0F9D58;
    border-radius: 15px;
    border: 2px solid rgb(187, 206, 247);
    display: inline;
    transition: all 0.2s ease-out;
}



input[type="checkbox"]{
		pointer-events: auto;
		margin-left:0px;
		padding: 0px;

		width:20px;
		height:20px;
		font-size: 50px;
		margin-bottom:15px;
		margin-right:10px;
}
input[type="reset"]{
		pointer-events: auto;
	
}
.chkBtn:hover{
	transform: translateY(-.2em);
	border: 2px solid rgb(255, 255, 255);
  }
.chkBtn:active{
	transform: translateY(-.6em);
  }


.chkList{
	color:blanchedalmond;
	font-size:20px;
	margin-top: 20px;
}
#modules{
	color: rgb(212, 204, 193);
	font-size:1.5rem;
	text-decoration: none;
	border: 2px solid ;
	border-color: #ADB5BD;	
	border-radius: 10px;
	font-family:inherit;
	margin: 1px;
	padding:7px;
	width: min-content;
}